/* Importar normalize.css desde CDN */
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos de la index.html */
html {
    font-family: sans-serif;
    font-size: 16px;
    background-color: #f5f5f5;
    color: #333;
}
.calculator {
    height: 100dvh;
    padding: 30px;
    /* GRID 7 / 1 */
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, auto) repeat(4, 1fr);
    gap: 50px;
}
.calculator__title {
    text-align: center;
    font-size: 1.8rem;
}
.calculator__numbers {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.calculator__number {
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #333;
}
.calculator__number--left {
}
.calculator__number--right {
}
.calculator__btn {
    align-self: center;
    padding: 10px 30px;
    background-color: transparent;
    border: 4px solid #333;
    box-shadow: 6px 6px 0px #333;
}
.calculator__btn--generate {
    font-size: 1.2rem;
    border: 2px dashed #333;
    border-radius: 5px;
    background-color: transparent;
    color: #333;
    cursor: pointer;
    justify-self: center;
    align-self: center;
    padding: 10px 20px;
    border-radius: 20px;
}
.calculator__results {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.calculator__result {
    font-size: 2rem;
    color: #333;
}
.calculator__result--sum {
}
.calculator__result--subtract {
}
.calculator__buttons {
    display: flex;
    justify-content: space-between;
}
.calculator__btn--sum {
}
.calculator__btn--subtract {
}
.calculator__result--multiply {
}
.calculator__result--divide {
}
.calculator__btn--multiply {
}
.calculator__btn--divide {
}
